@page "/error-boundaries/custom-errorboundary-component"

<h3>Custom ErrorBoundary component</h3>

<MyErrorBoundary @ref="errorBoundaryComponent">
    <ErrorContent>
        <HxAlert Color="ThemeColor.Danger">
            <p>Bad things happen.</p>
            <HxButton OnClick="HandleRecoverClick" Color="ThemeColor.Success" Size="ButtonSize.Small">Recover</HxButton>
        </HxAlert>
    </ErrorContent>
    <ChildContent>
        <HxButton OnClick="() => throw new Exception()" Color="ThemeColor.Primary">Throw exception</HxButton>
    </ChildContent>
</MyErrorBoundary>

@code {
    private MyErrorBoundary? errorBoundaryComponent;

    private void HandleRecoverClick()
    {
        errorBoundaryComponent?.Recover();
    }
}
