@page "/head/page-title-basic"

<h3>PageTitle - Basic usage</h3>

<PageTitle>Custom page title</PageTitle>

<p>PageTitle replaces any existing title-tag in head. Inspect DOM to see more.</p>

<p>See also <code>builder.RootComponents.Add&lt;HeadOutlet&gt;("head::after");</code> in Program.cs.</p>