@page "/head/page-title-dynamic"

<h3>PageTitle - Dynamic</h3>

<PageTitle>@counter | Demo</PageTitle>

Current counter value: @counter

<HxButton Text="counter++" OnClick="() => counter++" Color="ThemeColor.Primary" />

@code
{
    private int counter;
}