@page "/head/head-content-title"

<HeadContent>
    <title>Another title in HeadContent</title>
    <meta name="description" content="Some description...">
</HeadContent>

<PageTitle>Some title</PageTitle>

<p>...first in DOM wins (PageTitle or index.html)</p>