@page "/head/head-content-multiple"

<HeadContent>
    <!-- First content -->
    <meta name="description" content="Some description...">
</HeadContent>

<HeadContent>
    <!-- Second content -->
    <meta name="description" content="Another description...">
</HeadContent>

<p>...Last wins!</p>